@charset "utf-8";
*{margin:0;padding:0;}
html,body,div,dl,dt,dd,ul,ol,li,h2,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;font-family:Microsoft YaHei;}
html{overflow-x: hidden;}
body{overflow: hidden; min-width: 1200px;font-size:12px;background:#000;}
ul,ol,li { list-style:none;}
img{ border:0;}
a{color:#000;text-decoration:none}
em,i{font-style:normal;}
a:focus,input{outline:none;}
a{outline:none;star:expression(this.onFocus=this.blur());} 
/******首页********/
.wrap{background:url(../images/bg.jpg) top center no-repeat;height:1078px;position:relative;overflow:hidden;}
.main{width:1000px;margin:0 auto;position:relative;height:1078px;z-index:999;}
.flash-index{width:1920px;position:absolute;left:50%;top:0;margin-left:-960px;height:1080px;z-index:1;}
.flash-c{position:absolute;left:0;top:0;width:100%;z-index:9;height:100%;}
.logo{position:absolute;height:100px;left:60px;top:50px;z-index:9999;}
.logo img{margin-right:26px;}
.rt-nav{width:290px;height:30px;position:absolute;top:40px;right:60px;z-index:9999;}
.rt-nav a{border:1px solid #999;color:#999;font-size:14px;height:28px;float:left;line-height: 28px;background:url(../images/rt-nav-ico.png) no-repeat;    padding-left: 30px;padding-right: 11px;}
.rt-nav a:hover{border:1px solid #FFF078;color:#FFF078;}
.rt-nav a.nav-home{background-position:11px 7px;}
.rt-nav a.nav-d{background-position: -96px 8px;}
.rt-nav a:hover.nav-home{background-position:11px -27px;}
.rt-nav a:hover.nav-d{background-position: -96px -26px;}
.rt-nav a.music{background-position: -206px -26px;border:1px solid #FFF078;color:#FFF078;}
.rt-nav a+a{margin-left:10px;}
.rt-nav a.music.on{border:1px solid #999;color:#999;background-position: -206px 8px;}
.nav{width:160px;height:518px;position:fixed;z-index:9999;right:60px;top:50%;margin-top:-259px;}
.nav p{height:17px;line-height:17px;margin-top:33px;width:100%;float:left;}
.nav a{padding-right:24px;float:right;background:url(../images/nav.png) right -48px no-repeat;font-size:14px;color:#999;}
.nav p.on a,.nav a:hover{background-position:right 1px;color:#d9bc69;}

/******周年礼包********/
.year-lb{position:absolute;left:50%;height:1078px;z-index:99;}
.year-lb{width:1080px;margin-left:-540px;}
.year-tit{width:100%;height:185px;}
.year-lb-tit{background:url(../img/year-lb-tit.html) top center no-repeat;
-webkit-animation-name: zoomIn;animation-name: zoomIn;
-webkit-animation-duration:1s;animation-duration:1s;
-webkit-animation-fill-mode: both;animation-fill-mode: both;
animation-delay:0s;-webkit-animation-delay:0s;
}
.year-lb-box{width:100%;height:890px;background:url(../img/year-lb-rw.html) no-repeat;position:relative;
-webkit-animation-name: fadeInUp;animation-name: fadeInUp;
-webkit-animation-duration:1.2s;animation-duration:1.2s;
-webkit-animation-fill-mode: both;animation-fill-mode: both;
animation-delay:.8s;-webkit-animation-delay:.8s;}
.year-lb-lb,.year-lb-ch{position:absolute;height:335px;width:335px;top:30px;}
.year-lb-lb{background:url(../img/year-lb-lb.html) no-repeat;left:-10px;
-webkit-animation-name: fadeInDown;animation-name: fadeInDown;
-webkit-animation-duration:.5s;animation-duration:.5s;
-webkit-animation-fill-mode: both;animation-fill-mode: both;
animation-delay:1.8s;-webkit-animation-delay:1.8s;}
.year-lb-ch{background:url(../img/year-lb-ch.html) no-repeat;right:-35px;
-webkit-animation-name: fadeInDown;animation-name: fadeInDown;
-webkit-animation-duration:.5s;animation-duration:.5s;
-webkit-animation-fill-mode: both;animation-fill-mode: both;
animation-delay:2.5s;-webkit-animation-delay:2.5s;}
.year-lb-lb a,.year-lb-ch a{width:100px;height:40px;position:absolute;background:url(../img/year-lb-btn.html) no-repeat;display:block;left: 127px;top: 228px;}
.year-lb-lb a{background-position:0px 0px;}
.year-lb-ch a{background-position:-101px 0px;}
.year-lb-lb a:hover{background-position:0px -41px;}
.year-lb-ch a:hover{background-position:-101px -41px;}
.year-txt{width:468px;position:absolute;top:500px;left: 150px;
-webkit-animation-name: fadeInRight;animation-name: fadeInRight;
-webkit-animation-duration:1s;animation-duration:1s;
-webkit-animation-fill-mode: both;animation-fill-mode: both;
animation-delay:3.2s;-webkit-animation-delay:3.2s;
}
.year-txt ul{line-height:24px;color:#b99455;font-size:14px;}
.year-txt li{width:100%;float:left;}
.year-txt li b{float:left;color:#e3b567;}
.year-txt li p{float:left;width: 382px;}
.year-txt li i{float:left;display:block;margin-top:11px;margin-right:5px;margin-left:2px;width:6px;height:6px;border-radius:5px;background:#e3b567}

@-webkit-keyframes zoomIn{0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}100%{opacity:1}}
@keyframes zoomIn{0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);ransform:scale3d(.3,.3,.3)}100%{opacity:1}}
@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translateY(40px);transform:translateY(40px)}
100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}
}
@keyframes fadeInUp{0%{opacity:0;-webkit-transform:translateY(40px);-ms-transform:translateY(40px);transform:translateY(40px)}
100%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
}
@-webkit-keyframes fadeInDown{0%{opacity:0;-webkit-transform:translateY(-40px);transform:translateY(-40px)}
100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}
}
@keyframes fadeInDown{0%{opacity:0;-webkit-transform:translateY(-40px);-ms-transform:translateY(-40px);transform:translateY(-40px)}
100%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
}
@-webkit-keyframes fadeInRight{0%{opacity:0;-webkit-transform:translateX(40px);transform:translateX(40px)}
100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}
}
@keyframes fadeInRight{0%{opacity:0;-webkit-transform:translateX(40px);-ms-transform:translateX(40px);transform:translateX(40px)}
100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
}

/********各种弹窗***********/
.tc{width:503px;padding-bottom:50px;border:6px solid #7F6132;background:#E4C76B;position:fixed;left:50%;top:50%;margin-left:-251px;margin-top:-162px;border-radius: 5px;z-index:999999;}
.close{color:#7F6132;width:26px;height:26px;position:absolute;right:0px;top:0px;    font-size: 23px;text-align: center;}
.tc-p{height:40px;line-height:40px;width:100%;text-align:center;color:#7F6132;font-size:25px;margin-top:28px;font-weight: bold;    margin-bottom: 7px;}
.tc_sw p input,.tc_sw p select{width:245px;height:30px;background:#fff;border:0;color:#000;line-height:30px;text-indent:10px;outline:none;}
.tc_sw p{margin-top:15px;    color: #7F6132;}
.tc_sw p em{margin-right: 10px;    font-size: 15px;text-align: right;width: 122px;float: left;    line-height: 30px;}
.tijiao{width:245px;background: #7F6132;height:35px;line-height:35px;color:#E4C76B;font-weight:700;display:block;margin: 0 auto;font-size: 15px;margin-top:14px;border-radius:7px;text-align:center}
.jhm{width:370px;background:#fff;color:#6F1D03;text-align:center;height:30px;line-height:30px;margin:0 auto;margin-top:21px}
.myprizes_ul{width:380px;margin:0 auto;height:150px;overflow:hidden;overflow-y: auto;padding-right: 20px;}
.myprizes_ul li{width:380px;height:30px;font-size:12px;height:30px;line-height:30px;color:#7F6132;}
.myprizes_ul li em{float:left;overflow:hidden;}
.myprizes_ul li a,.myprizes_ul li i{float:right;color:#7F6132;}
.myprizes_ul li a:hover{text-decoration:underline;}
.tc-ms{width:100%;text-align:center;    color: #7F6132;float:left;    font-size: 15px;    margin: 5px 0 15px 0;}
.red-ewm{width:200px;margin:0 auto;display: block;}
.tc-p1{width:100%;text-align:center;color:#7F6132;font-size:14px;margin-top:5px;}
/********各种弹窗***********/

/******元宝狂潮********/
.year-yb-tit{background:url(../img/year-yb-tit.html) top center no-repeat;}
.year-yb-txt{width:100%;color:#9b4126;font-size:14px;line-height:26px;margin-top:30px;text-align:center;}
.year-yb-btn{height:60px;width:100%;text-align:center; margin-top: 35px;}
.year-yb-btn p{height:60px;width:360px;margin:0 auto;}
.year-yb-btn a{width:160px;height:60px;margin:0 10px;display:block;float:left;background:url(../img/year-yb-btn.html) no-repeat;}
.year-yb-btn a.btn-xz{background-position:0px 0px;}
.year-yb-btn a.btn-yx{background-position: -180px 0px;}
.year-yb-btn a:hover.btn-xz{background-position:0px -63px;}
.year-yb-btn a:hover.btn-yx{background-position:-180px -63px}
.year-yb-box{width:100%;height:490px;background:url(../images/year-yb-box.png) no-repeat;}
.year-yb-jb{width:100%;height:490px;background:url(../images/year-yb-jb.html) no-repeat;}

/******红包狂潮********/
.year-hb-tit{background:url(../img/year-hb-tit.html) top center no-repeat;}
.year-hb-time{height:80px;width:100%;margin-top:30px;}
.year-hb-time p{width:100%;color:#9b4126;font-size:16px;text-align:center;height:36px;line-height:30px;}
.outtime{width:284px;margin:0 auto;height:45px;}
.outtime span{width:45px;height:45px;text-align:center;line-height:45px;color:#ffdea7;font-size:24px;display:block;background:url(../img/time.html) no-repeat;    float: left;}
.outtime i{float:left;color:#9b4126;font-size:14px;    padding: 0 5px;margin-top: 27px;}
.year-hb-red{width:100%;height:750px;margin-top:24px;position:relative;}
.red-box{height:370px;width:100%;background:url(../images/red-box.html) no-repeat;}
.red{height:370px;width:284px;background:url(../images/red.html) no-repeat;margin:0 auto;position:relative;}
.year-txt.year-red-txt{top:370px;left: 100px;width: 560px;
-webkit-animation-duration:0s;animation-duration:0s;animation-delay:0s;-webkit-animation-delay:0s;}
.red a{width:120px;height:50px;background:url(../images/btn-qhb.jpg) no-repeat;display:block;position:absolute;left:50%;margin-left:-60px;top:258px}
.red a:hover{background-position:-140px 0px;}
	
/******一周年庆服********/
.year-znqf-tit{background:url(../images/test.png) top center no-repeat;  height: 100%;   width: 100%; }
.znqf-box{width:100%;height:530px;position:absolute;left:0;top:308px;background:url(images/znqf-bottom.html) bottom center no-repeat;}
.znqf-btn{position:absolute;-webkit-transition: all .5s;-mz-transition: all .6s;-moz-transition: all .6s;transition: all .6s;}
.znqf-btn.znqf-one{background:url(../images/znqf-one.png) no-repeat;left:88px;top:0;width:170px;height:468px;}
.znqf-btn.znqf-two{background:url(../images/znqf-two.png) 0 34px no-repeat;left:266px;top:0;width:154px;height:468px;}
.znqf-btn.znqf-three{background:url(../images/znqf-three.png) 0 55px no-repeat;left:432px;top:0;width:139px;height:468px;}
.znqf-btn.znqf-four{background:url(../images/znqf-four.png) 0 34px no-repeat;left:582px;top:0;width:154px;height:468px;}
.znqf-btn.znqf-five{background:url(../images/znqf-five.png) no-repeat;left:745px;top:0;width:170px;height:468px;}
.znqf-btn:hover{top:-20px;-webkit-transition: all .5s;-mz-transition: all .6s;-moz-transition: all .6s;transition: all .6s;}
.znqf-btn a{height:30px;width:70px;background:url(../images/year-znqf-btn.jpg) no-repeat;display:block;position:absolute;left:50%;margin-left:-35px;top:188px}
.znqf-btn a:hover{background-position:-71px 0px;}
.tc-bg{ -moz-opacity: 0.7; opacity: 0.7;filter: alpha(opacity=70);width:100%;height:100%;position:fixed;z-index:999;background:#000;top: 0px;left: 0px;display:none}
.tanc{background:#BE8E45 url(../images/tc-bg.jpg) no-repeat;width:598px;border:1px solid #E9D881;position:fixed;left:50%;top:50%;margin-left:-298px;margin-top:-150px;z-index:9999;display:none}
.tab_text{display:none;}
.tanc .close{height:30px;width:30px;background:url(../images/close.png) no-repeat;position: absolute;right:-45px;top:0;cursor: pointer;}
.tab_text h3{height:59px;color:#8d4223;font-size:20px;width:100%;text-align:center;height:59px;line-height:59px;}
.tab_text ul{background:#FAE081;margin:0px 20px 20px 20px;padding:20px;    float: left;}
.tab_text ul li{color:#8d4223;font-size:14px;line-height:24px;    float: left;width:100%;}
.tab_text ul li span{font-weight:bold;float: left;}
.tab_text ul li p{float: left;width: 446px;}

/******周年庆售货机********/
.year-shj-tit{background:url(../images/year-shj-tit.html) top center no-repeat;}
.year-shj-lhj{background:url(../images/lhj.html) no-repeat;height:614px;width:586px;margin:0 auto;margin-top:30px;position:relative;}
.lhj-box{width:276px;height:150px;top: 180px;left: 157px;position:absolute;}
.num{position:absolute;left:0px;top:0px;width:90px;height:150px;overflow:hidden;background:#666;}
.num2{left:93px;}
.num3{left:186px;}
.num-con1{top:-1824px;}
.num-con2{top:-1368px;}
.num-con3{top:-1672px;}
.num-con{position:relative;}
.num-img{background:url(../images/num.html) no-repeat;width:90px;height:1975px;}
.lhj-btn{width:65px;height:65px;position:absolute;right: -1px;top: 136px;cursor:pointer;background:url(../img/lhj-btn.html) no-repeat;}
.lhj-btn:hover{background-position:-66px 0px;}
.shj-gz{height:160px;width:434px;position:absolute;left:50%;margin-left:-217px;top:408px;}
.shj-btn{width:220px;margin:0 auto;height:40px;}
.shj-btn a{width:100px;height:40px;display:block;margin:0 5px;background:url(../images/shj-btn.html) no-repeat; float: left;}
.shj-btn a.shj-btn-cx{background-position:-110px 0px;}
.shj-btn a:hover.shj-btn-lb{background-position:0px -42px;}
.shj-btn a:hover.shj-btn-cx{background-position:-110px -42px;}
.year-txt.year-shj-txt{left: 0px;top: 42px;width: 434px;
-webkit-animation-duration:0s;animation-duration:0s;animation-delay:0s;-webkit-animation-delay:0s;}
.lhj-zjmd{width:310px;left:130px;top:27px;position:absolute;height: 86px;}
.txtMarquee-top{width:310px;overflow:hidden;position:relative;background:url(../images/xlb.png) 8px 9px no-repeat;left:0;top:0;padding-left:30px}
.txtMarquee-top .infoList li{line-height:26px; color:#b89454;font-size:14px;}
.lhj-jf{width:100%;text-align:center;color:#ffcc4b;font-size:14px;    line-height: 32px;}

/******周年转盘********/
.year-zp-tit{background:url(../images/year-zp-tit.html) top center no-repeat;}
.year-zp-box{height:350px;width:790px;margin: 0 auto;margin-top: 82px;}
.cj_zp{width:510px;height:350px;overflow:hidden;float: left;position:relative;}
#lottery{width: 520px;height: 350px;}
#lottery td{width:120px;height:80px;background:url(../images/zp-btn.html) -523px 0px no-repeat;float:left;margin-right:10px;margin-bottom:10px;position:relative;}
#lottery td .jp{width:100%;height:80px;background:url(../images/prize.html) no-repeat;position:absolute;left:0;top:0;}
#lottery td.lottery-unit-0 .jp{background-position:0px 0px;}
#lottery td.lottery-unit-1 .jp{background-position:-130px 0px;}
#lottery td.lottery-unit-2 .jp{background-position:-260px 0px;}
#lottery td.lottery-unit-3 .jp{background-position:-390px 0px;}
#lottery td.lottery-unit-4 .jp{background-position:-390px -90px;}
#lottery td.lottery-unit-5 .jp{background-position:-390px -180px;}
#lottery td.lottery-unit-6 .jp{background-position:-260px -180px;}
#lottery td.lottery-unit-7 .jp{background-position:-260px -90px;}
#lottery td.lottery-unit-8 .jp{background-position:-130px -90px;}
#lottery td.lottery-unit-9 .jp{background-position:-130px -180px;}
#lottery td.lottery-unit-10 .jp{background-position:0px -180px;}
#lottery td.lottery-unit-11 .jp{background-position:0px -90px;}
#lottery td em{color: #e3b567;font-size: 12px;width: 100%;text-align: center;float: left;position: absolute;bottom: 8px;}
#lottery .choujiang{width: 250px;height: 170px;background: none;}
#lottery .choujiang a{width: 250px;height: 170px;background:url(../img/zp-btn.html) no-repeat;display:block;}
#lottery .choujiang a:hover{background-position:0px -171px;}
#lottery .choujiang a p{color: #f0765c;font-size: 14px;width: 100%;margin-top: 105px;text-align: center;float: left;}
#lottery .choujiang a p i{color:#fce69b;}
#lottery table td.active{background-position:-523px -81px;}
.gz-box{float:left;width:270px;background:url(../img/zp-btn.html) -251px 0px no-repeat;height:350px;margin-left: 10px;}
.cj-list-top{width:230px;overflow:hidden;margin:0 auto;margin-top:78px;height:182px}
.cj-list-top .infoList li{line-height:26px; color:#b89454;font-size:14px;height:26px!important;overflow:hidden;}
.cj-list-btn{height:40px;width:100%;text-align:center;    margin-top: 16px;}
.cj-list-btn a{display:inline-block;height:40px;width:99px;background:url(../images/zp-btn.html) no-repeat;}
.cj-list-btn a.cj-btn-cx{background-position:-523px -162px;}
.cj-list-btn a.cj-btn-dj{background-position:-523px -244px;}
.cj-list-btn a:hover.cj-btn-cx{background-position:-523px -203px;}
.cj-list-btn a:hover.cj-btn-dj{background-position:-523px -285px;}
.year-txt.year-zp-txt{    top: 650px;left:110px;
	-webkit-animation-duration:0s;animation-duration:0s;animation-delay:0s;-webkit-animation-delay:0s;
}

/******我的传奇世界********/
.year-cqsj-tit{background:url(../images/year-cqsj-tit.html) top center no-repeat;}
.year-cqsj-box{height:598px;width:100%;}
.slideTxtBox{height:598px;width:100%;position:relative;}
.slideTxtBox .hd{width:100%;height:0px;position:relative; }
.slideTxtBox .arrow{position:absolute;left:0;top:150px;height:161px;width:100%;z-index:9;}
.slideTxtBox .arrow a{ display:block;top:0;  width:81px; height:161px;overflow:hidden;cursor:pointer; background:url(../images/arrow.png) no-repeat;position:absolute; }
.slideTxtBox .arrow .prev{background-position:0 0px;left:0; }
.slideTxtBox .arrow .next{ background-position:-147px 0px; right:0; }
.slideTxtBox .arrow .prev:hover{background-position:0px -161px; }
.slideTxtBox .arrow .next:hover{ background-position:-147px -161px; }
.slideTxtBox .hd ul{position:absolute; left:0px; top:482px; width:100%;height:115px;text-align:center;}
.slideTxtBox .hd ul li{cursor:pointer;display:inline-block;height:115px;width:84px;margin:0 25px;}
.slideTxtBox .hd ul li i{height:84px;width:84px;float:left;background:url(../images/cqsj-ico.png) no-repeat;}
.slideTxtBox .hd ul li span{color:#eee184;font-size:16px;float:left;width:100%;text-align:center;margin-top: 10px;}
.slideTxtBox .hd ul li.ico-lt i,.slideTxtBox.zndsj-slideTxtBox .hd ul li.ico-lt i{background-position:0px -134px;}
.slideTxtBox .hd ul li.ico-hd i,.slideTxtBox.zndsj-slideTxtBox .hd ul li.ico-hd i{background-position:-141px -133px;}
.slideTxtBox .hd ul li.ico-lt.on i,.slideTxtBox.zndsj-slideTxtBox .hd ul li.ico-lt.on i{background-position:0px 0px;}
.slideTxtBox .hd ul li.ico-hd.on i,.slideTxtBox.zndsj-slideTxtBox .hd ul li.ico-hd.on i{background-position:-141px 1px;}
.slideTxtBox .bd{ width:100%;height:528px;background:url(../images/cqsj-box.html) no-repeat;}
.year-cqsj-list{width:560px;height:350px;position:absolute;left: 221px;top: 75px;text-align:center;    z-index: 99;}
.year-cqsj-list p{font-size:14px;line-height:25px;margin-top: 8px;}
.year-cqsj-list p.cqsj-p1{color:#8d4223;}
.year-cqsj-list p.cqsj-p2{color:#b17934;margin-top:15px;}
.year-cqsj-list .cqsj-img{margin:10px 0;}
.year-cqsj-list a{width:160px;height:60px;display:inline-block;background:url(../images/cqsj-btn.jpg) no-repeat;}
.year-cqsj-list a:hover.cqsj-bbs{background-position: 0px -61px;}
.year-cqsj-list a.cqsj-hd{background-position:-161px 0px;}
.year-cqsj-list a:hover.cqsj-hd{background-position: -161px -61px;}
.cqsj-ewm{width:90px;height:120px;background:#8F2804;position:absolute;right:6px;bottom:6px;text-align:center;}
.cqsj-ewm span{font-size: 12px;color: #f8dd88;height: 32px;float: left;text-align: center;width: 100%;line-height: 32px;}
.cqsj-ewm img{width:86px;height:86px;}

/******周年大事件********/
.year-zndsj-tit{background:url(../images/year-zndsj-tit.html) top center no-repeat;}
.slideTxtBox.zndsj-slideTxtBox .bd{background:none;width:760px;height:346px;top:72px;left:120px;position: absolute;}
.year-zndsj-list{position:relative;z-index: 99;}
.year-zndsj-list,.year-zndsj-ul{width:760px;height:346px;float:left;}
.year-zndsj-ul{margin-top:23px;}
.year-zndsj-ul li{float:left;height:346px;width:240px;margin-left:10px;text-align:center;color:#eee184;font-size:16px; line-height: 28px;}
.year-zndsj-ul li .zndsj-img{position:relative;width:240px;height:240px;float:left;}
.year-zndsj-ul li .zndsj-img img{position:absolute;bottom:0;}
.year-zndsj-ul li span{font-weight: bold;margin-top: 10px;float: left;width: 100%;}
.year-zndsj-banben{width:760px;margin:0 auto;height:224px;margin-top:45px;}
.year-zndsj-banben li{width:180px;height:224px;float:left;background:url(../img/banben-bg.html) no-repeat;margin:0 5px;}
.banben-tit{color:#eee184;width:100%;text-align:center;height:94px;line-height: 34px;}
.banben-tit b{font-size:14px;margin-top: 16px;}
.banben-tit span{font-size:16px;}
.banben-a,.banben-a p,.banben-tit b,.banben-tit span{float:left;width:100%;}
.banben-a,.banben-a p{line-height:22px;color:#d3a75e;}
.banben-a p i{ line-height: 22px;color: #d3a75e;float:left;margin-left:8px;font-size: 17px;height: 22px;}
.banben-a a{color:#d3a75e;font-size:12px;margin-left:4px;}
.banben-a a:hover{text-decoration:underline;}
.slideTxtBox.zndsj-slideTxtBox .hd ul li i{background: url(../images/yzndsj-ico.html) no-repeat;}

/******网页大数据********/
.year-dsj-tit{background:url(../images/year-dsj-tit.html) top center no-repeat;}
.slideTxtBox.dsj-box .bd{background:none;height:454px;position: absolute;width:702px;left:150px;top:0;}
.slideTxtBox.dsj-box .hd ul li i{background: url(../images/dsj-ico.png) no-repeat;}
.slideTxtBox.dsj-box .hd ul li.ico-dsj1 i{background-position:0px 0px;}
.slideTxtBox.dsj-box .hd ul li.ico-dsj2 i{background-position:-142px 0px;}
.slideTxtBox.dsj-box .hd ul li.ico-dsj3 i{background-position:-265px 0px;}
.slideTxtBox.dsj-box .hd ul li.ico-dsj4 i{background-position:-388px 0px;}
.slideTxtBox.dsj-box .hd ul li.ico-dsj5 i{background-position:-511px 0px;}
.slideTxtBox.dsj-box .hd ul li.ico-dsj1.on i{background-position:0px -88px;}
.slideTxtBox.dsj-box .hd ul li.ico-dsj2.on i{background-position:-142px -88px;}
.slideTxtBox.dsj-box .hd ul li.ico-dsj3.on i{background-position:-265px -88px;}
.slideTxtBox.dsj-box .hd ul li.ico-dsj4.on i{background-position:-388px -88px;}
.slideTxtBox.dsj-box .hd ul li.ico-dsj5.on i{background-position:-511px -88px;}
.year-dsj-list{height:454px;width:702px;float:left;}
.dsj-p1,.dsj-p2,.dsj-tit{width:100%;text-align:center;float:left;color:#9b4126;}
.dsj-p1{font-size: 16px;margin-top: 25px;margin-bottom: 5px;}
.dsj-tit{font-size:32px;margin: 4px 0;}
.dsj-p2{font-size:12px;line-height:22px;    margin-top: 12px;}
.dsj-list{width:666px;height:140px;float:left;margin-top:10px;position:relative;}
.dsj-list .dsj-p3{color:#f2d679;font-size:12px;position:absolute;    line-height: 25px;left: 150px;top: 18px;}
.dsj-a1{background:url(../images/dsj-a1.html) top right no-repeat;}
.dsj-a2{background:url(../images/dsj-a2.html) top right no-repeat;}
.dsj-b1{background:url(../images/dsj-b1.html) top right no-repeat;}
.dsj-b2{background:url(../images/dsj-b2.html) top right no-repeat;}
.dsj-c1{background:url(../images/dsj-c1.html) top right no-repeat;}
.dsj-d1{background:url(../images/dsj-d1.html) top right no-repeat;}
.dsj-d2{background:url(../images/dsj-d2.html) top right no-repeat;}
.dsj-e1{background:url(../images/dsj-e1.html) top right no-repeat;}
.dsj-tit.dsj-tit-b1{margin-top: 54px;}
.dsj-tit.dsj-tit-c1{margin-top:84px;}
.dsj-txt{color:#f2d679;font-size:12px;left: 150px;top: 8px;position:absolute;}
.dsj-txt p{line-height: 22px;margin-top: 12px;}
.dsj-txt b{font-size: 14px;}



