
body, html {
	
  	
  	background-color: #fff; 
  	height: 99%;
  	background-position: relative;
 	background-repeat: no-repeat;
  	background-size: cover;
		
	}
	
	

.text {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	color: $black;
 	text-align: center;
	color: #000;
 	margin: auto;
 	width: 50%;

 	border: 0px solid green;
}	
	
li{
    list-style: none;
    display: inline;
    float: left;
    width: 16%;
    
}	

ul {
  margin: center;
  padding-left: 32%;
	padding-right: 28%;


}

	
.face {
   color: #fff;
        border: none;
        padding: 10px 20px;
        display: inline-block;
        text-decoration: none;
        font: bold 18px sans-serif;
        background: #000;
	 	-moz-border-radius: 100px; 
   		-webkit-border-radius: 100px; 
   		border-radius: 100px;
}

.face:hover {
  box-shadow: 0 5px 15px 0px rgba(0,0,0,5);
	 background: #4444ff;
	color: #000;
}




.twit {
color: #fff;
        border: none;
        padding: 10px 20px;
        display: inline-block;
        text-decoration: none;
        font: bold 18px sans-serif;
        background: #000;
	 	-moz-border-radius: 100px; 
   		-webkit-border-radius: 100px; 
   		border-radius: 100px;
}

.twit:hover {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,5);
	 background: #1DA1F2;
	color: #000;
}



.yutup {
color: #fff;
        border: none;
        padding: 10px 20px;
        display: inline-block;
        text-decoration: none;
        font: bold 18px sans-serif;
        background: #000;
	 	-moz-border-radius: 100px; 
   		-webkit-border-radius: 100px; 
   		border-radius: 100px;
}

.yutup:hover {
   box-shadow: 0 5px 15px 0px rgba(0,0,0,5);
	 background: #FF0000;
	color: #000;
}



.insta {
color: #fff;
        border: none;
        padding: 10px 20px;
        display: inline-block;
        text-decoration: none;
        font: bold 18px sans-serif;
        background: #000;
	 	-moz-border-radius: 100px; 
   		-webkit-border-radius: 100px; 
   		border-radius: 100px;
}

.insta:hover {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,5);
	 background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	color: #000;
}


.steamke {
color: #fff;
        border: none;
        padding: 10px 20px;
        display: inline-block;
        text-decoration: none;
        font: bold 18px sans-serif;
        background: #000;
	 	-moz-border-radius: 100px; 
   		-webkit-border-radius: 100px; 
   		border-radius: 100px;
}

.steamke:hover {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,5);
	 background: #171a21;
	color: #000;
}

.tiwic {
color: #fff;
        border: none;
        padding: 10px 20px;
        display: inline-block;
        text-decoration: none;
        font: bold 18px sans-serif;
        background: #000;
	 	-moz-border-radius: 100px; 
   		-webkit-border-radius: 100px; 
   		border-radius: 100px;
}

.tiwic:hover {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,5);
	 background: #6441A4;
	color: #000;
}






