Options +FollowSymLinks 
RewriteEngine On 
RewriteRule ^anasayfa$ index.php [L,QSA]
RewriteRule ^kaydol$ index.php?islem=kaydol [L,QSA]
RewriteRule ^kayit_onay$ index.php?islem=kayit_onay [L,QSA]
RewriteRule ^oyunu-indir$ index.php?islem=indir [L,QSA]
RewriteRule ^giris-yap$ index.php?islem=giris_yap [L,QSA]
RewriteRule ^kullanici$ index.php?islem=kullanici [L,QSA]
RewriteRule ^kullanici/sifre-degistir$ index.php?islem=kullanici_sifre_degistir [L,QSA]
RewriteRule ^kullanici/mail-degistir$ index.php?islem=kullanici_mail_degistir [L,QSA]
RewriteRule ^kullanici/kullanici-adi-degistir$ index.php?islem=kullanici_adi_degistir [L,QSA]
RewriteRule ^kullanici/depo-sifre-degistir$ index.php?islem=kullanici_depo_sifre [L,QSA]
RewriteRule ^kullanici/karakter-silme-sifresi-degistir$ index.php?islem=kullanici_karakter_silme_sifre [L,QSA]
RewriteRule ^kullanici/bugdan-kurtar$ index.php?islem=kullanici_bugdan_kurtar [L,QSA]
RewriteRule ^kullanici/davet-et$ index.php?islem=kullanici_davet_et [L,QSA]
RewriteRule ^kullanici/giris-loglari$ index.php?islem=kullanici_giris_loglari [L,QSA]
RewriteRule ^kullanici/bildirimler$ index.php?islem=kullanici_bildirimler [L,QSA]
RewriteRule ^kullanici/level-loglari$ index.php?islem=kullanici_level_loglari [L,QSA]
RewriteRule ^kullanici/market-loglari$ index.php?islem=kullanici_market_loglari [L,QSA]
RewriteRule ^kullanici/karakterlerim$ index.php?islem=kullanici_karakterlerim [L,QSA]
RewriteRule ^kullanici/basvuru$ index.php?islem=kullanici_basvuru [L,QSA]
RewriteRule ^kullanici/ep-satin-al$ index.php?islem=kullanici_ep_satin_al [L,QSA]
RewriteRule ^kullanici/ep-tokenlerim$ index.php?islem=kullanici_ep_tokenlerim [L,QSA]
RewriteRule ^kullanici/ep-transfer-log$ index.php?islem=kullanici_ep_transfer_log [L,QSA]
RewriteRule ^kullanici/ep-token-kullan$ index.php?islem=kullanici_ep_token_kullan [L,QSA]
RewriteRule ^kullanici/ep-gonder$ index.php?islem=kullanici_ep_gonder [L,QSA]
RewriteRule ^kullanici/ep-gonder-sifre-unuttum$ index.php?islem=kullanici_ep_gonder_sifre_unuttum [L,QSA]
RewriteRule ^kullanici/ep-gonder-sifre-degistir$ index.php?islem=kullanici_ep_gonder_sifre_degistir [L,QSA]
RewriteRule ^kullanici/ep-gonder-ayar$ index.php?islem=kullanici_ep_gonder_ayar [L,QSA]
RewriteRule ^kullanici/teknik-destek$ index.php?islem=kullanici_teknik_destek [L,QSA]
RewriteRule ^kullanici/teknik-destek-detay$ index.php?islem=kullanici_destek_detay [L,QSA]
RewriteRule ^kullanici/teknik-destek-talep-olustur$ index.php?islem=kullanici_teknik_destek_talep_olustur [L,QSA]
RewriteRule ^sifremi-unuttum$ index.php?islem=sifremi_unuttum [L,QSA]
RewriteRule ^cikis-yap$ index.php?islem=cikis_yap [L,QSA]
RewriteRule ^kullanici-adi-unuttum$ index.php?islem=kullanici_adi_unuttum [L,QSA]
RewriteRule ^oyuncu-siralamasi$ index.php?islem=oyuncu_siralamasi [L,QSA]
RewriteRule ^lonca-siralamasi$ index.php?islem=lonca_siralamasi [L,QSA]
RewriteRule ^ban-sorgula$ index.php?islem=ban_sorgula [L,QSA]
RewriteRule ^online-siralamasi$ index.php?islem=online_siralamasi [L,QSA]
RewriteRule ^zenginler$ index.php?islem=zenginler [L,QSA]
RewriteRule ^duyurular$ index.php?islem=duyurular [L,QSA]
RewriteRule ^anketler$ index.php?islem=anketler [L,QSA]

ReWriteRule ^karakter/(.*)$ index.php?islem=karakter_detay&isim=$1 [L,NC]
ReWriteRule ^lonca/(.*)$ index.php?islem=lonca_detay&isim=$1 [L,NC]
ReWriteRule ^duyuru/(.*).html$ index.php?islem=duyuru_detay&seo=$1 [L,QSA]
ReWriteRule ^anket/(.*).html$ index.php?islem=anket_detay&seo=$1 [L,QSA]
ReWriteRule ^(.*).html$ index.php?islem=sayfa&seo=$1 [L,QSA]


<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_USER_AGENT} ^BlackWidow [OR]
RewriteCond %{HTTP_USER_AGENT} ^Bot\ mailto:craftbot@yahoo.com [OR]
RewriteCond %{HTTP_USER_AGENT} ^ChinaClaw [OR]
RewriteCond %{HTTP_USER_AGENT} ^Custo [OR]
RewriteCond %{HTTP_USER_AGENT} ^DISCo [OR]
RewriteCond %{HTTP_USER_AGENT} ^Download\ Demon [OR]
RewriteCond %{HTTP_USER_AGENT} ^eCatch [OR]
RewriteCond %{HTTP_USER_AGENT} ^EirGrabber [OR]
RewriteCond %{HTTP_USER_AGENT} ^EmailSiphon [OR]
RewriteCond %{HTTP_USER_AGENT} ^EmailWolf [OR]
RewriteCond %{HTTP_USER_AGENT} ^Express\ WebPictures [OR]
RewriteCond %{HTTP_USER_AGENT} ^ExtractorPro [OR]
RewriteCond %{HTTP_USER_AGENT} ^EyeNetIE [OR]
RewriteCond %{HTTP_USER_AGENT} ^FlashGet [OR]
RewriteCond %{HTTP_USER_AGENT} ^GetRight [OR]
RewriteCond %{HTTP_USER_AGENT} ^GetWeb! [OR]
RewriteCond %{HTTP_USER_AGENT} ^Go!Zilla [OR]
RewriteCond %{HTTP_USER_AGENT} ^Go-Ahead-Got-It [OR]
RewriteCond %{HTTP_USER_AGENT} ^GrabNet [OR]
RewriteCond %{HTTP_USER_AGENT} ^Grafula [OR]
RewriteCond %{HTTP_USER_AGENT} ^HMView [OR]
RewriteCond %{HTTP_USER_AGENT} HTTrack [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^Image\ Stripper [OR]
RewriteCond %{HTTP_USER_AGENT} ^Image\ Sucker [OR]
RewriteCond %{HTTP_USER_AGENT} Indy\ Library [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^InterGET [OR]
RewriteCond %{HTTP_USER_AGENT} ^Internet\ Ninja [OR]
RewriteCond %{HTTP_USER_AGENT} ^JetCar [OR]
RewriteCond %{HTTP_USER_AGENT} ^JOC\ Web\ Spider [OR]
RewriteCond %{HTTP_USER_AGENT} ^larbin [OR]
RewriteCond %{HTTP_USER_AGENT} ^LeechFTP [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mass\ Downloader [OR]
RewriteCond %{HTTP_USER_AGENT} ^MIDown\ tool [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mister\ PiX [OR]
RewriteCond %{HTTP_USER_AGENT} ^Navroad [OR]
RewriteCond %{HTTP_USER_AGENT} ^NearSite [OR]
RewriteCond %{HTTP_USER_AGENT} ^NetAnts [OR]
RewriteCond %{HTTP_USER_AGENT} ^NetSpider [OR]
RewriteCond %{HTTP_USER_AGENT} ^Net\ Vampire [OR]
RewriteCond %{HTTP_USER_AGENT} ^NetZIP [OR]
RewriteCond %{HTTP_USER_AGENT} ^Octopus [OR]
RewriteCond %{HTTP_USER_AGENT} ^Offline\ Explorer [OR]
RewriteCond %{HTTP_USER_AGENT} ^Offline\ Navigator [OR]
RewriteCond %{HTTP_USER_AGENT} ^PageGrabber [OR]
RewriteCond %{HTTP_USER_AGENT} ^Papa\ Foto [OR]
RewriteCond %{HTTP_USER_AGENT} ^pavuk [OR]
RewriteCond %{HTTP_USER_AGENT} ^pcBrowser [OR]
RewriteCond %{HTTP_USER_AGENT} ^RealDownload [OR]
RewriteCond %{HTTP_USER_AGENT} ^ReGet [OR]
RewriteCond %{HTTP_USER_AGENT} ^SiteSnagger [OR]
RewriteCond %{HTTP_USER_AGENT} ^SmartDownload [OR]
RewriteCond %{HTTP_USER_AGENT} ^SuperBot [OR]
RewriteCond %{HTTP_USER_AGENT} ^SuperHTTP [OR]
RewriteCond %{HTTP_USER_AGENT} ^Surfbot [OR]
RewriteCond %{HTTP_USER_AGENT} ^tAkeOut [OR]
RewriteCond %{HTTP_USER_AGENT} ^Teleport\ Pro [OR]
RewriteCond %{HTTP_USER_AGENT} ^VoidEYE [OR]
RewriteCond %{HTTP_USER_AGENT} ^Web\ Image\ Collector [OR]
RewriteCond %{HTTP_USER_AGENT} ^Web\ Sucker [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebAuto [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebCopier [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebFetch [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebGo\ IS [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebLeacher [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebReaper [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebSauger [OR]
RewriteCond %{HTTP_USER_AGENT} ^Website\ eXtractor [OR]
RewriteCond %{HTTP_USER_AGENT} ^Website\ Quester [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebStripper [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebWhacker [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebZIP [OR]
RewriteCond %{HTTP_USER_AGENT} ^Wget [OR]
RewriteCond %{HTTP_USER_AGENT} ^Widow [OR]
RewriteCond %{HTTP_USER_AGENT} ^WWWOFFLE [OR]
RewriteCond %{HTTP_USER_AGENT} ^Xaldon\ WebSpider [OR]
RewriteCond %{HTTP_USER_AGENT} ^Zeus
RewriteRule .* - [F]
</ifModule>

order allow,deny
allow from all