.tamam {display:block; font-size:12px; font-family:Tahoma;margin-bottom:5px; color: #4F8A10;background-color: #DFF2BF;padding:10px; border:1px solid #4f8a10;}
.hata{display:block; font-size:12px; font-family:Tahoma;margin-bottom:5px; color: #671414;background-color: #fbabab;padding:10px; border:1px solid #ad0c0c;}
#main_content_item_content a {color: #C27D1E; text-decoration: none;}


.sayfalama {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: 17px;
	margin-bottom: 17px;
}
.sayfalama span a {
	text-decoration: none;
	color: #fac3cd;
	padding-top: 2px;
	padding-right: 8px;
	padding-bottom: 2px;
	padding-left: 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 13px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border: 1px solid #905D11;
	background-color: #ca8787;
}
.sayfalama span a:hover {
	background-color: #ea6b6b;
}
.sayfalama .sayfalama-active a {
	background-color: #ca6e6e;
}



.oyunculiste table {
	text-shadow: 0.06em 0.06em #000;
}
.oyunculiste table  h5 {
	font-weight: bold;
	font-size: 14px;
	color: #FFC189;
	margin:0;
}
.oyunculiste table h2, .oyunculiste a {
	font-size: 14px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
	margin-left:5px;
}

.oyunculiste a:hover {
	color:#958282;
	text-decoration: none;
	font-weight: bold;
}

.oyunculiste table tr td {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-right-color: #C67553;
	border-bottom-color: #C67553;
}
.oyunculiste table tr{
	-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}
.oyunculiste table tr:hover{
	background: rgba(0, 0, 0, 0.2);	
}

.oyunculiste table tr td a {
color:#FFF;
}


.hesabim_buton {
	color: #FFF;
	background-color: #783d3d;
	padding-top: 10px;
	padding-right: 25px;
	padding-bottom: 10px;
	padding-left: 25px;
	text-decoration: none;
	font-weight:bold;
	margin:10px;
	float:left;
	width:130px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 0px 0px 5px #9B6C09;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.hesabim_buton:hover {
	color: #FFF;
	background-color: #a64242;
	text-decoration:none;
	
}


.oara {
	float: left;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}





.oara_list {

}


.siralama_th_bg {background-color:#783d3d;}
.siralama_th_bg h5 {font-size:13px; color:#FFF; text-shadow:none; padding:3px;}

#query {width:130px;}


.siralama_buton {
min-width:100px;
height:30px;
display:block;
-moz-box-shadow: 3px 1px 13px -4px #290d0d;
-webkit-box-shadow: 3px 1px 13px -4px #290d0d;
box-shadow: 3px 1px 13px -4px #290d0d;
text-align:center;
line-height:30px;
paddin:2px;
float:left;
margin:8px;
color:#EFEFEF;
text-shadow:none;
font-weight:bold;

	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	text-decoration:none;
	padding-left:8px;
	padding-right:8px;
	
	
background: #a90329; /* Old browsers */
background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */



}

.siralama_buton:hover {

text-shadow:none;
background: #c4033a; /* Old browsers */
background: -moz-linear-gradient(top,  #c4033a 0%, #aa0343 44%, #7f484e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c4033a), color-stop(44%,#aa0343), color-stop(100%,#7f484e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #c4033a 0%,#aa0343 44%,#7f484e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #c4033a 0%,#aa0343 44%,#7f484e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #c4033a 0%,#aa0343 44%,#7f484e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #c4033a 0%,#aa0343 44%,#7f484e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4033a', endColorstr='#7f484e',GradientType=0 ); /* IE6-9 */




}

.lonca_uyeleri_div {
width:100%;
display:block;
border: 3px dotted #900;
}

.lonca_uyeleri_div li {
list-style-type:none;
float:left;
display:block;
border: 1px solid #000;
margin:3px;
width:208px;
text-align:center;
height:30px;
}

.lonca_uyeleri_div li a {
color:#000;
display:block;
font-weight:bold;
line-height:30px;
text-decoration:none;
}

.lonca_uyeleri_div li a:hover {
background-color:#900;
color:#FFF;
text-decoration:none;
}


.haberler {
width:500px;
display:block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 0px 0px 15px #000000;

}

.haberler h5 {
	margin:0;
	font-size: 15px;
	width: 100%;
	padding-bottom: 5px;
	padding-top: 5px;
	border:solid 1px #000;
}
.haberler h5 span {
	font-size: 13px;
	color: #886c22;
}
.haberler h5 a {
	color: #69624E;
	text-decoration: none;
	font-size:15px;
}
.tumhaber {
  text-decoration: none;
  color: #FFFFFF;
  float: left;
  width: 100%;
  height: 30px;
  margin-left: 0px;
  background-color: #B13A3A;
  font-size: 18px;
  line-height: 30px;
}

.tumhaber:hover{
	color: #FFFFFF;
	background-color:#741C1C;
}

.haberler h5 a:hover {
	text-decoration: underline;
}


.karakterlerim {
display:block;
width:110px;
float:left;
margin-right:10px;
text-align:center;
min-height:185px;

-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;

}


.profil_img {

-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;

}

.karakterlerim:hover {
background-color:#000;
opacity:0.5;
}


.karakter_name {
color:#FFF;
font-weight:bold;
display:block;
text-align:center;
background-color:#000;
height:30px;
line-height:30px;
font-size:12px;
}

.karakter-duzelt-aktive {
background-color:#000;
opacity:0.5;
}

textarea {
width:100%;
background-color:transparent;
padding:3px;
outline:none;
font-family:Verdana;
color: #C99D9D;
border: 1px solid #795353;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;


}

.prf_dznl {color:#fff;}

.prf_dznl:hover {
color:#efefef;
text-decoration:none;
}


.tablo_ust, .tablo_ust td, .tablo_ust th {
	background-color:none;
	color: #CCC;
	border-right:dotted 1px #000;
	border-top:dotted 1px #000;
	border-bottom:dotted 1px #000;
	height:30px;
}

.tablo_satir,.tablo_satir td, .tablo_satir th {
	background-color:none;
	color: #EFEFEF;
	border-right:dotted 1px #000;
	border-top:dotted 1px #000;
	border-bottom:dotted 1px #000;
	height:30px;
	padding:3px;
}

.konu_style {font-size:14px;}

.destekbaslik {
	color: #CA0000;
}
.destektaleplink {
	float: left;
	width: 100%;
	line-height: 40px;
	font-size: 16px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
}
.destektaleplink span {
	color: #999;
	font-size: 14px;
	margin-left: 10px;
}
.destektaleplink:hover {
	text-decoration: underline;
}
.destektaleplink strong {
	color: #FFF;
	background-color: #090;
	margin-left: 10px;
	font-size: 12px;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 10px;
	-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.destekbaslik span {
	float: right;
	font-size: 14px;
	color: #999;
}


.yorum {
	
	background-color: #fffcc6;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 0px 0px 15px #e3de88;
	margin-bottom: 20px;
	max-width:400px;
	float:left;
	clear:both;
}
.yorum h3 {
	float: left;
	width: 150px;
	margin-right: 10px;
	color: #aa6000;
	font-size: 15px;
	font-weight: bold;
	margin:0;
}
.yorum h4 {
	float: right;
	color: #403D00;
	font-size: 14px;
	width: 100%;
	margin:0;
	margin-top:5px;
	border-top:dotted 1px #CCC;
	padding-top:3px;
	word-wrap:break-word
	
}
.yorum h3 span {
	color: #b3af70;
	font-size: 14px;
}

#admincevap {
	background-color: #DDF9FF;
	box-shadow: 0px 0px 15px #91c9d5;
	float:right;
}
#admincevap h3 {
	color: #00829D;
	width: 150px;
	margin:0;
}
#admincevap h3 span {
	color: #5EE2FF;
}
#admincevap h4 {
	color: #00728A;
	margin:0;
}


.YonlenButon {
	color: #FFF;
	background-color: #417900;
	padding-top: 10px;
	padding-right: 25px;
	padding-bottom: 10px;
	padding-left: 25px;
	text-decoration: none;
	-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
text-align:center;
font-weight:bold;
margin-right:10px;
margin-left:10px;
box-shadow: 0px 0px 5px #999;
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}

.YonlenButon:hover {
	color: #FFF;
	background-color: #315c00;
	text-decoration:none;
	
}


.YonlenButon2 {
	color: #FFF;
	background-color: #ce6d25;
	padding-top: 10px;
	padding-right: 25px;
	padding-bottom: 10px;
	padding-left: 25px;
	text-decoration: none;
	-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
font-weight:bold;
margin-right:10px;
margin-left:10px;
box-shadow: 0px 0px 5px #999;
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}

.YonlenButon2:hover {
	color: #FFF;
	background-color: #aa4f0b;
	text-decoration:none;
	
}


.YonlenButon3 {
	color: #FFF;
	background-color: #5886B3;
	padding-top: 10px;
	padding-right: 25px;
	padding-bottom: 10px;
	padding-left: 25px;
	text-decoration: none;
	-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
font-weight:bold;
margin-right:10px;
margin-left:10px;
box-shadow: 0px 0px 5px #999;
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}

.YonlenButon3:hover {
	color: #FFF;
	background-color: #344F73;
	text-decoration:none;
	
}


.indir_th {
	background-color: #F36;
	color: #FFF;
	font-weight: bold;
	border-right-width: 1px;
	border-right-style: dotted;
	border-right-color: #EFEFEF;
	height: 30px;
	padding: 3px;
}
.indir_td {
	color: #FFF;
	font-weight: bold;
	border-right-width: 1px;
	border-right-style: dotted;
	border-right-color: #fff;
	height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #fff;
	padding: 3px;
}

.indir_td a {
	color: #CCC;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	font-variant: normal;
}

.indir_td a:hover {
color:#FFF;
}
.indir_table {
	background-color: #666;
	border: 1px dotted #999;
	margin: 0px;
	padding: 0px;
	color: #FFF;
}


.anket_div {
	width: 430px;
	min-height: 100px;
	overflow:hidden;
	display:block;
	text-align:center;
	background-color:#000;
	background-position: bottom;
	-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
box-shadow: 0px 0px 10px #3b2b00;
}

.anket_soru {
font-size:15px;
color:#FFF;
background-color:#000;
font-weight:normal;
width:98%;
min-height:30px;
word-wrap:break-word;

}


.inout {
	float:none;
	margin-left:auto;
	margin-right:auto;
	width: 250px;
	height: 75px;
}
.in {
	float: left;
	font-size: 34px;
	font-weight: bolder;
	color: #0ca700;
	margin-right: 20px;
	line-height: 60px;
}
.in a img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-right:7px;
	float:left;
	-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}
.in a img:hover {
	margin-top:-5px;
	
}
.out a img:hover {
	margin-top:13px;
	
}
.out {
	float: left;
	font-size: 34px;
	font-weight: bolder;
	color: #ab0a0a;
	line-height: 60px;
}
.out a img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-top:8px;
	float:left;
	margin-right:7px;
	-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}

.clear {
clear:both;
}

.notification span, .notification .success {
text-shadow:none;
margin-left:20px;
}

.text { text-shadow:none;}

table th,table td {
color:#CCC;
}


.tanvideo {
	width: 430px;
	height: 250px;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
	-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
box-shadow: 0px 0px 10px #000000;
}


.krallar {
width:400px;
min-height:250px;
display:block;
margin-left:auto;
margin-right:auto;
}

.kral_oyuncu {
width:190px;
height:220px;
display:block;
float:left;
margin-right:10px;
text-align:center;
box-shadow: 0px 0px 20px #5F2814;
}

.kral_lonca {
width:190px;
height:220px;
display:block;
float:left;
text-align:center;
box-shadow: 0px 0px 20px #5F2814;
}

.kral_title {
width:100%;
display:block;
float:left;
height:30px;
text-align:center;
background-color:#5F2814;
color:#FFF;
text-shadow:none;
line-height:30px;
margin-bottom:5px;
}

.kral_img {
width:100%;
height:100px;
display:block;
float:left;
margin-bottom:5px;
}

.kral_img img {height:100px;}

.kral_isim {
width:100%;
display:block;
float:left;
height:20px;
text-align:center;
line-height:20px;
border-bottom:dotted 1px #421C0F;
}
.kral_adi {color:#7E1C1C;}

.kral_level {
width:100%;
display:block;
float:left;
height:20px;
text-align:center;
line-height:20px;
border-bottom:dotted 1px #421C0F;
margin-bottom:5px;
}
.kral_seviye {color:#7E1C1C;}

.kral_bayrak {
width:100%;
height:25px;
display:block;
float:left;
margin-bottom:5px;
}

.pace .pace-progress {
  background: #ff8040;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}

.real_content h2 {
font-size:24px;
margin:0;
padding:0;
}